body {
	 margin-top: 0px;
	 margin-right: 0px;
	 margin-bottom: 0px;
	 margin-left: 0px;
	 text-align: center;
}

.header {
	background-image: url('http://www.bernarduccimeisel.com/imagesdb/Forest-Floor-Dawn-HR.jpg');
	background-size: 100%;
	position: fixed;
	width: 100%;
	height: 200px;
	z-index: 20;
	font-family: 'Finger Paint', cursive;
	color: white;
}

.content {
	background-color: #eee2d9;
	position: relative;
	width: 100%;
	height: 5000px;
	top: 200px;
}

.inner-content {
	margin: 0 auto;
	padding: 25px;
}

.blogDiv {
	width: 500px;
	display: inline-block;
	float: left;
	margin:10px;
	text-align: left;
	font-family: 'Finger Paint', cursive;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}

.blogDiv h2 {
	padding-left: .70em;
}

.blogPic {
	width: 490px;
	height: 350px;

}

.header-text{
	font-size: 4em;
	padding-top: .75em;
	color: #9a4d00;
	text-shadow: 1px 2px black;
}

.blogImage {
	width: 400px;
}