<div id="container">

	<header class="header">
		<div class="header-text">
			The Great Outdoors Blog
		</div>
	</header>


	<div class="content">
		<div class="inner-content">
			{{outlet}}
		</div>
		{{#link-to 'about'}}About Us{{/link-to}}
		<br>
		{{#link-to 'index'}}Home{{/link-to}}

	</div>

</div>