<div id="container">

	<header class="header">
		<div class="header-text">
			The Great Outdoors Blog
		</div>
	</header>


	<div class="content">
		<div class="inner-content">
			{{outlet}}
		</div>
		<div class="footer">
			{{#link-to 'about'}}About{{/link-to}} | {{#link-to 'index'}}Home{{/link-to}}
		</div>

	</div>

</div>