<div id="container">

	<header class="header">
		<div class="header-text">
			The Great Outdoors Blog
		</div>
	</header>


	<div class="content">
		<div class="inner-content">
			{{outlet}}
		</div>
		{{#link-to 'about'}}About{{/link-to}} | {{#link-to 'index'}}Home{{/link-to}}

	<h1>Chat App!</h1>
		<div class="chat-body">
			Stuff goes here!
		</div>
	{{#link-to 'messages'}}Messages{{/link-to}}

	</div>

</div>